

* {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
	max-width: 95%;
  /* padding: 50px 30px; */
  /* background-image: url("./assets/img/flowers.jpg");
  background-size: 100%; */
}
:root {
  --primary: rgb(44, 44, 44, 0.6);
  /* rgb(1, 69, 80); */
  --secondary: rgb(154, 96, 96);
  /* rgb(65, 153, 174); */
  --tertiary: #FFA13C;
  /* rgb(248, 165, 29); */
  --light: rgb(255, 189, 145);
  /* rgb(205, 134, 94); */
  --black: rgb(14, 14, 14);
  --purple: rgb(71, 48, 65);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--light);
  background-image: url("./assets/img/flowers.jpg");
  background-size: 100%;

}

header {
  padding: 0 0 0 100px;
  background-color: var(--primary);
}

section {
  background-color: var(--primary);
}

h1 {
  margin: 10px;
}

ul {
  list-style-type: none; 
}

li {
  padding: 20px 10px;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

card img {
  max-width: 50%;
}
.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

footer {
  background: var( --tertiary)
}

footer a {
  padding: 0 10px
}

.href-links {
  color: var(--light);
  text-decoration: none;
}

.href-links:hover {
  color: var(--tertiary);
  text-decoration: none;
}
