* {
  box-sizing: border-box;
}

:root {
  --primary: rgb(44, 44, 44);
  --secondary:rgb(176, 115, 123) ;
  --tertiary: #FFA13C;
  --light: rgb(255, 189, 145);
}

html,
body {
  min-height: 100%;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--light);
}

header {
  background-color: var(--primary) ;
  position: sticky;
  top: 0;
  z-index: 9999; 
}

.navActive {
  color: var(--tertiary);
  text-decoration: none;
}

.navActive {
  cursor: pointer;
}

.hero {
  background-image: url("./assets/img/flowers.jpg");/*fill with image */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-attachment: fixed;
  background-position: 80%;
  padding: 280px 20px 20px 20px;
}

/* START MAIN */

.section-title {
background-color: rgb(44, 44, 44, 0.6);
padding-bottom: 50px;
margin-top: -70px;
}

h1 {
  margin: 10px;
}

ul {
  list-style-type: none; 
}

li {
  padding: 20px 10px 0 0;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

section {
  padding: 0 0px 100px 0;
}

.href-links {
  color: var(--light);
  text-decoration: none;
}

.href-links:hover {
  color: var(--tertiary);
  text-decoration: none;
  cursor: pointer;
}

/* START PROJECT */
.filter-btn {
  margin: 10px;
 }

.project-container {
  margin: 20px 20px 20px 0;
}

.project-img {
  max-height:15em;
  object-position: top;
  top: 0;
  margin: 5px 0 20px 0;
}

.project-title {
  color: var(--tertiary);
}

.technologies {
  color: var(--secondary);
}

.deploy-btn {
  padding-right: 10px;
} 

/* END PROJECT */

/* START CONTACT*/

.contact-text {
  padding: 20px 0 0 25px;
}

.form {
  padding: 0 50px 0 20px;
}

/* END CONTACT */

/* START RESUME*/

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skills:hover {
  color: var(--tertiary);
}

/* END RESUME */
/* END MAIN*/

/* START FOOTER */
svg {
  padding: 5px;
 
  fill: var(--primary);
}

svg:hover {
  fill: var(--secondary);
}

footer {
  background: var( --tertiary);
  color: var(--primary)
}

/* FOOTER ENDS */